.contact-page-main {
    background: url(../images/faq-bg-image.png) no-repeat left bottom;
    height: auto;
    width: 100%;
    display: inline-block;
    background-position-y: center;
    position: relative;

    .contact-form-main {

        display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;

        .input-section {

            display: flex;
            gap: 10px;
            margin: 20px;
            // flex-wrap: wrap;

        }



        .form-input-message {

            margin: 20px;

        }



        .form-input-interest {

            margin: 20px;

        }


        .submit-btn {
            background: #1A3A96;
            border: 1px solid #1A3A96;
            border-radius: 71px;
            width: 202px;
            height: 55px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.035em;
            color: #FFFFFF;

            .submit-text {

                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.035em;
                color: #FFFFFF;

            }

        }
    }

    .form-input {
        height: 60px;
        width: 350px;
        // width:100%;
        border: 1px solid #707070;
        border-radius: 50px;
    }


    .form-input::placeholder {


        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #6E757C;
        padding-left: 10px;

    }

    .form-input-interest {
        height: 60px;
        width: 720px;
        border: 1px solid #707070;
        border-radius: 50px;
    }

    .form-input-interest::placeholder {

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #6E757C;
        padding-left: 10px;

    }

    .form-input-message {

        height: 191px;
        width: 720px;
        border: 1px solid #707070;
        border-radius: 50px;

    }

    .form-input-message::placeholder {

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #6E757C;
        padding-left: 10px;

    }
}

.h3-titles {
    margin-top: 10px;
}

.h3-content {
    @include content-cap;
}